<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ningcol.aliTrans</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4AA9141A-47C5-4160-B506-2102F3F74F44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A09F104-9A85-46CA-AC61-B8020C957B11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE9203E9-3483-4023-BD7C-8798B7336DA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4AC824F8-CDCC-4739-BC81-B0CA9F7E3D1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7114FF1B-2141-4712-BBC4-55565DF1B221</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7114FF1B-2141-4712-BBC4-55565DF1B221</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AA9141A-47C5-4160-B506-2102F3F74F44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>ningcol</string>
	<key>description</key>
	<string>使用阿里专业版Api进行翻译</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>阿里翻译</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>------INPUT------
{var:input}
------OUTPUT------
{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>80</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>0A09F104-9A85-46CA-AC61-B8020C957B11</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4AA9141A-47C5-4160-B506-2102F3F74F44</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4AC824F8-CDCC-4739-BC81-B0CA9F7E3D1C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>input</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7114FF1B-2141-4712-BBC4-55565DF1B221</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CE9203E9-3483-4023-BD7C-8798B7336DA3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>111

支持语种 https://help.aliyun.com/document_detail/158291.html?spm=api-workbench.API%20Document.0.0.52fb491dbu3KDn
语言代码列表 https://help.aliyun.com/document_detail/215387.html?spm=a2c4g.11186623.0.0.11ea3642VdBByx</string>
	<key>uidata</key>
	<dict>
		<key>0A09F104-9A85-46CA-AC61-B8020C957B11</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>4AA9141A-47C5-4160-B506-2102F3F74F44</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>4AC824F8-CDCC-4739-BC81-B0CA9F7E3D1C</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>7114FF1B-2141-4712-BBC4-55565DF1B221</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>CE9203E9-3483-4023-BD7C-8798B7336DA3</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>social</string>
				<key>pairs</key>
				<array>
					<array>
						<string>商品标题</string>
						<string>title</string>
					</array>
					<array>
						<string>商品描述</string>
						<string>description</string>
					</array>
					<array>
						<string>商品沟通</string>
						<string>communication</string>
					</array>
					<array>
						<string>医疗</string>
						<string>medical</string>
					</array>
					<array>
						<string>社交</string>
						<string>social</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>商品标题：运用阿里电商标题数据，单独训练出来的，翻译标题特别好
商品详描：运用阿里商品详描数据，单独训练出来，专门翻译商品详描比较好
商品沟通：在电商买卖家沟通场景下，翻译效果会很好
医疗：是针对医疗文献、术语、药品单独训练出来的引擎，在这个场景下翻译效果会很好
社交：面向口语化的翻译，在这个场景下翻译结果会比较好
金融：面向金融领域的翻译</string>
			<key>label</key>
			<string>场景</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>Scene</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>en</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>在不同的场景下，有些语言无法翻译，具体请查阅文档，中英或者英中在所有场景下都支持</string>
			<key>label</key>
			<string>原文语言</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>SourceLanguage</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>zh</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>在不同的场景下，有些语言无法翻译，具体请查阅文档，中英或者英中在所有场景下都支持</string>
			<key>label</key>
			<string>译文语言</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>TargetLanguage</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>请自行申请</string>
			<key>label</key>
			<string>accessKeyId</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>accessKeyId</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>请自行申请</string>
			<key>label</key>
			<string>accessKeySecret</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>accessKeySecret</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>ningcol.com</string>
</dict>
</plist>
